@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

@font-face {
  font-family: codePredators;
  src: url(../../../assets/fonts/CodePredators-Regular.ttf);
}

@font-face {
  font-family: PatrickHandSC;
  src: url(../../../assets/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(../../../assets/fonts/Quantico-Regular.ttf);
}

.mobile-not {
  display: none;
}

.toggle-btn {
  display: none;
}
.toggle-btn p {
  font-size: 30px;
  color: white;
  margin: 0;
  text-align: right;
  padding-right: 24px;
}
.mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #28322c 39.79%, #235e4b 100%);
  z-index: 9;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
.mobile .nav-links {
  font-size: 16px;
  text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 24px;
  margin: 0 48px;
  margin-bottom: 20px;
}
.titile-nav-mob {
  text-align: center;
  margin: 0;
  font-family: codePredators;
  font-size: 56px;
  color: #f2b924;
  margin-bottom: 0.4em;
  width: 100vw;
  padding-top: 42px;
}
.icon-mob {
  width: 44px;
  height: 44px;
}
.social-icons-mob {
  display: flex;
  margin: 0 90px;
  justify-content: space-around;
}
.bottom-box {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.navigation {
  display: block;
}

nav {
  padding: 30px;
  text-align: right;
}

nav a {
  color: white;
  font-family: "Patrick Hand SC", cursive;
  font-size: 26px;
  text-decoration: none;
  margin: 0 30px;
}

@media screen and (max-width: 520px) {
  .navigation {
    display: none;
  }
  .toggle-btn {
    display: block;
    position: absolute;
    width: 100vw;
    top: 0;
    margin: 4px;
    /* color: white; */
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    font-weight: bold;
    z-index: 10;
  }
  .toggle-btn p {
    font-size: 24px;
  }
  .titile-nav-mob {
    font-size: 48px;
  }
}

@media screen and (max-width: 445px) {
  .navigation {
    display: none;
  }
  .toggle-btn {
    display: block;
    position: absolute;
    width: 100vw;
    top: 0;
    margin: 4px;
    /* color: white; */
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    font-weight: bold;
    z-index: 10;
  }
  .toggle-btn p {
    font-size: 20px;
  }
  .titile-nav-mob {
    font-size: 40px;
  }
  .icon-mob {
    width: 36px;
    height: 36px;
  }
  .mobile .nav-links {
    font-size: 13px;
    padding: 9px 21px;
    margin: 0 37px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 445px) {
  .navigation {
    display: none;
  }
  .toggle-btn {
    display: block;
    position: absolute;
    width: 100vw;
    top: 0;
    margin: 4px;
    /* color: white; */
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    font-weight: bold;
    z-index: 10;
  }
  .toggle-btn p {
    font-size: 18px;
  }
  .titile-nav-mob {
    font-size: 36px;
  }
  .icon-mob {
    width: 33px;
    height: 33px;
  }
  .mobile .nav-links {
    font-size: 11px;
    padding: 7px 18px;
    margin: 0 34px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 1325px) {
  .navigation {
    display: none;
  }
  .toggle-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    /* margin: 8px; */
    /* color: white; */
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    font-weight: bold;
    z-index: 10;
  }
  .toggle-btn {
    top: 31px;
  }
  .toggle-btn p {
    padding-right: 48px;
  }
}
