.vertical-line {
  /* position: absolute; */
  /* right: 5em; */
  width: 1px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  /* padding-top: 42px; */
  margin-bottom: 2em;
}

@media screen and (max-width: 830px) {
  .vertical-line {
    display: none;
  }
}
