@font-face {
  font-family: codePredators;
  src: url(../../../assets/fonts/CodePredators-Regular.ttf);
}

@font-face {
  font-family: PatrickHandSC;
  src: url(../../../assets/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(../../../assets/fonts/Quantico-Regular.ttf);
}

.official-partners-title {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "CodePredators";
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 48px;
  text-align: center;
  color: #f2b924;
}

.official-partners-section {
  width: 100vw;
  height: 100vh;
}
.bg-world-war {
  width: 100vw;
  height: 100vh;
}

.rec {
  position: absolute;
  bottom: 12%;
  width: 80%;
  left: 10%;
  height: 30%;
}

.army-man {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}

.logos {
  display: flex;
  position: absolute;
  width: 80%;
  bottom: calc(12% + 15vh);
  transform: translate(0, 50%);
  left: 8%;
  justify-content: space-around;
}
