@font-face {
  font-family: codePredators;
  src: url(../../../assets/fonts/CodePredators-Regular.ttf);
}

@font-face {
  font-family: PatrickHandSC;
  src: url(../../../assets/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(../../../assets/fonts/Quantico-Regular.ttf);
}

.logo {
  height: 300px;
}

.on-boarding {
  font-family: Quantico;
  color: white;
  font-size: 46px;
  text-wrap: wrap;
}

.official-partners-title {
  position: absolute;
  top: 6%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  font-family: "CodePredators";
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 48px;
  text-align: center;
  color: #f2b924;
}

.official-partners-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.bg-world-war {
  width: 100vw;
  height: 100vh;
}

.rec {
  position: absolute;
  bottom: 12%;
  width: 80%;
  left: 10%;
  height: 30%;
}

.army-man {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  width: 70%;
  /* bottom: calc(12% + 15vh); */
  /* transform: translate(0, 50%); */
  left: 50%;
  transform: translate(-50%, 13%);
  bottom: 0;
  justify-content: space-around;
}

.logos > :first-child {
  height: 500px;
  width: 500px;
}

.logos > :nth-child(2) {
  justify-self: end;
  align-self: flex-end;
  transform: translate(-5%, -36%);
}

@media screen and (max-width: 900px) {
  .official-partners-title {
    width: 100%;
    font-size: 52px;
  }
  .army-man {
    width: 260px;
    height: 190px;
  }
}

@media screen and (max-width: 420px) {
  .official-partners-title {
    width: 100%;
    font-size: 35px;
  }
  .army-man {
    width: 136px;
    height: 106px;
    bottom: 69%;
  }
  .rec {
    bottom: 6%;
    height: 65%;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 400px) {
  .logos {
    flex-direction: column;
    align-items: center;
    bottom: calc(12% + 20vh);
  }
  .logo {
    width: 200px;
    height: 80%;
  }
  .official-partners-title {
    width: 100%;
    font-size: 32px;
  }
  .army-man {
    width: 136px;
    height: 106px;
    bottom: 69%;
  }
  .rec {
    bottom: 6%;
    height: 65%;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
