@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

nav {
  padding: 30px;
  text-align: right;
}

nav a {
  color: white;
  font-family: "Patrick Hand SC", cursive;
  font-size: 26px;
  text-decoration: none;
  margin: 0 30px;
}
