.awards-sec {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-img-awards {
  width: 100vw;
  height: 80vh;
}

.flag-img {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100vw;
}

.army-man {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 95%;
}
.awards {
  position: absolute;
  left: 0;
  bottom: 3em;
}
