@font-face {
  font-family: codePredators;
  src: url(../../assets/fonts/CodePredators-Regular.ttf);
}
@font-face {
  font-family: quantico;
  src: url(../../assets/fonts/Quantico-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

.cover {
  display: flex;
  height: 100vh;
  background-image: url("../../assets/images-award-page/awardbg.svg");
  position: relative;
  background-size: cover;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  /* background-image: url("../../assets/aword/manbg.svg");
  background-repeat: no-repeat; */
  min-width: 200px;
  display: flex;
  margin-top: 15vh;

  position: relative;
  justify-content: center;
}

.prizes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  column-gap: 50px;
  margin-left: 10vw;
  z-index: 2;
}

.text-container {
  padding: 50px;
  z-index: 2;
}

.title-p {
  text-align: center;
  font-size: 75px;
  font-family: codePredators;
  color: #f2b924;
  margin-left: 10vw;
}

.title-list {
  color: aliceblue;
  text-align: center;
  font-size: 23px;
  font-family: quantico;
}

.desc {
  text-align: center;
  font-size: 32px;
  font-family: "Passion One";
  color: aliceblue;
  font-weight: 800;
}

.image-item-one {
  height: 100%;
  width: 100%;
}

.list-item-one {
  width: 150px;
}

.image-item-two {
  height: 100%;
  width: 100%;
}

.list-item-two {
  width: 220px;
  margin-bottom: 20vh;
}

.list-item-three {
  margin-top: 5vh;
}

.man-image {
  height: 100%;
  max-width: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.text {
  margin-top: 2.5vh;
}

.rotated-img {
  position: absolute;
  left: 0;
  bottom: -90px;
  z-index: 0;
  width: 100vw;
  opacity: 0.45;
}

.mobile-cover {
  display: none;
}

/* tab reponsive */
@media screen and (max-width: 768px) {
  .mobile-cover {
    height: 100vh;
    background-image: url("../../assets/images-award-page/bgmobile.svg");
    position: relative;
    background-size: cover;
    z-index: -1;
    display: block;
    box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
  }
  .mobile-award-title {
    color: #f2b924;
    font-size: calc(40px + 2vw);
    text-align: center;

    font-family: codePredators;
  }

  .mobile-award-title-container {
    display: block;
    padding-top: calc(50px + 1vh);
    margin-bottom: calc(50px + 5vh);
  }

  .mobile-prizes-container {
    display: block;
    /* align-items: center; */
    max-width: calc(11.5vw + 130px);
    margin-left: 5%;
    position: relative;
    /* margin-bottom: calc(0.5vw + 1.5px); */
  }

  .mobile-image-one {
    width: 100%;
  }

  .mobile-title-list {
    text-align: center;
    font-size: calc(10px + 0.5vw);
    font-family: quantico;
    color: aliceblue;
  }
  .mobile-desc {
    text-align: center;
    font-size: calc(20px + 0.5vw);
    font-family: "Passion One";
    color: aliceblue;
  }

  .mobile-prizes-container-two {
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    max-width: calc(8vw + 90px);

    margin-left: 60%;
    margin-right: 5%;
    margin-top: calc(-16vw + 1px);
    position: relative;
  }

  .mobile-prizes-container-three {
    display: block;
    /* align-items: center; */
    max-width: calc(4vw + 100px);
    /* margin-right: 50%; */
    margin-left: 10%;

    margin-top: calc(-20vw + 1px);

    position: relative;
  }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
  .mobile-prizes-container-three {
    display: block;
    /* align-items: center; */
    max-width: calc(1vw + 100px);
    /* margin-right: 50%; */
    margin-left: 10%;

    margin-top: calc(-21.5vw + 1px);

    position: relative;
  }

  .mobile-prizes-container-two {
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    max-width: calc(5vw + 90px);

    margin-left: 60%;
    margin-right: 5%;
    margin-top: calc(-16vw + 1px);
    position: relative;
  }

  .mobile-award-title-container {
    display: block;
    padding-top: calc(20px + 5vh);
    margin-bottom: calc(50px + 5vh);
  }
}

@media screen and (max-width: 325px) and (max-height: 600px) {
  .mobile-prizes-container-three {
    display: block;
    /* align-items: center; */
    max-width: calc(1vw + 100px);
    /* margin-right: 50%; */
    margin-left: 10%;

    margin-top: calc(-23.5vw + 1px);

    position: relative;
  }

  .mobile-prizes-container-two {
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    max-width: calc(5vw + 70px);

    margin-left: 60%;
    margin-right: 5%;
    margin-top: calc(-16vw + 1px);
    position: relative;
  }

  .mobile-award-title-container {
    display: block;
    padding-top: calc(5px + 5vh);
    margin-bottom: calc(10px + 5vh);
  }

  .mobile-prizes-container {
    display: block;
    /* align-items: center; */
    max-width: calc(6vw + 130px);
    margin-left: 5%;
    position: relative;
    /* margin-bottom: calc(0.5vw + 1.5px); */
  }
}

@media screen and (max-width: 330px) and (max-height: 500px) {
  .mobile-prizes-container-three {
    display: block;
    /* align-items: center; */
    max-width: calc(1vw + 50px);
    /* margin-right: 50%; */
    margin-left: 10%;

    margin-top: calc(-20.5vw -20px);

    position: relative;
  }

  .mobile-prizes-container-two {
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    max-width: calc(5vw + 60px);

    margin-left: 60%;
    margin-right: 5%;
    margin-top: calc(-16vw + 1px);
    position: relative;
  }

  .mobile-award-title-container {
    display: block;
    padding-top: calc(5px + 5vh);
    margin-bottom: calc(10px + 1vh);
  }

  .mobile-prizes-container {
    display: block;
    /* align-items: center; */
    max-width: calc(6vw + 80px);
    margin-left: 5%;
    position: relative;
    /* margin-bottom: calc(0.5vw + 1.5px); */
  }
}
