@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");

@font-face {
  font-family: codePredators;
  src: url(../src/assets/fonts/CodePredators-Regular.ttf);
}

@font-face {
  font-family: PatrickHandSC;
  src: url(../src/assets/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(../src/assets/fonts/Quantico-Regular.ttf);
}

.frame {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
}

.SovietTroops {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.div1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    70deg,
    rgb(15.87, 17, 15.91, 1) 0%,
    rgba(11.31, 44.36, 34.09, 0.84) 48.19%,
    rgba(7.19, 69.06, 50.5, 0.69) 90.6%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.div2 {
  width: 100%;
  height: 100%;
  background-color: rgba(44, 68, 61, 0.41);
  position: absolute;
  top: 0;
  left: 0;
}

.div3 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgb(1, 1, 1, 1) 0%,
    rgba(27, 24, 24, 0.68) 0%,
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}

.dic4 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(29, 53, 46, 1),
    rgba(53, 84, 75, 0),
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}

.div5 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(32, 66, 56, 1),
    rgba(0, 0, 0, 0),
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}

.div6 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(42, 74, 65, 0),
    rgba(17, 47, 38, 0.69),
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}

.airplaneBig {
  height: auto;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0px;
}

.airplaneBig > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eventTimeline {
  position: absolute;
  width: 773px;
  height: 88px;
  flex-shrink: 0;
}

#eventTimeline {
  color: #f2b924;
  @import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");

  .App {
    text-align: center;
    font-family: "CodePredators";
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 72.727% */
  }

  .guideline {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .backgroundImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .guidelinePicture > img {
    position: absolute;
    width: 40%;
    height: 100%;
    top: -5px;
    left: 0px;
  }
  .guidelineTexts {
    position: absolute;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    right: 0px;
  }

  .guidelineTopic {
    width: 100%;
    height: 20%;
    flex-shrink: 0;
  }

  #guidelineTopic {
    color: #f2b924;
    text-align: center;
    font-family: "Code Predators";
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* margin: 80px 0px 0px 0px; */
  }

  #guidelineContent {
    width: 80%;
    height: 60%;
    flex-shrink: 0;
    margin-top: 0px;
    /* margin-right: 70px; */
  }

  .guidelineContent {
    color: #fff;
    text-align: justify;
    font-family: "PatrickHandSC";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  #guidelineBooklet {
    width: 100%;
    height: 20%;
    position: "relative";
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .guidelineBookletdiv1 {
    width: 40%;
    height: 30%;
    background: linear-gradient(
        180deg,
        #f2b924 100%,
        rgba(240.12, 198.08, 49.03, 0) 100%
      ),
      radial-gradient(
        100% 100%,
        rgba(42.95, 245.44, 99.65, 0.2) 45%,
        rgba(250.75, 250.42, 242.39, 0) 100%
      );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 1px #8c7548 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
  }

  .guidelineBookletdiv2 {
    color: "#09320A";
    font-size: 23px;
    font-family: "Quantico";
    font-weight: "400";
    word-wrap: "break-word";
    margin: 0px 0px 0px 0px;
    text-align: center;
    height: 100vh;
    z-index: -2;
    position: relative;
  }

  .home-section {
    position: relative;
  }

  .enigma-logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-overlay {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
  }

  .social-media {
    position: absolute;
    right: 5em;
    padding-top: 40px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rectangle {
    position: relative;
  }

  .reg-btn {
    padding: 0;
    margin: 0;
    border: none;
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 0);
    bottom: 3em;
    background-color: transparent;
  }

  .reg-btn:hover {
    cursor: pointer;
  }

  .reg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    transform: translate(-50%, -50%);
    color: #09320a;
    font-size: 23px;
    font-family: "Quantico", sans-serif;
    font-weight: 900;
  }
  .enigma {
    position: absolute;
    left: 5em;
    padding-top: 30px;
  }
}
