.frame {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
}

.SovietTroops {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.div1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    70deg,
    rgb(15.87, 17, 15.91, 1) 0%,
    rgba(11.31, 44.36, 34.09, 0.84) 48.19%,
    rgba(7.19, 69.06, 50.5, 0.69) 90.6%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.div2 {
  width: 100%;
  height: 100%;
  background-color: rgba(44, 68, 61, 0.41);
  position: absolute;
  top: 0;
  left: 0;
}

.div3 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgb(1, 1, 1, 1) 0%,
    rgba(27, 24, 24, 0.68) 0%,
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}

.dic4 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(29, 53, 46, 1),
    rgba(53, 84, 75, 0),
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}

.div5 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(32, 66, 56, 1),
    rgba(0, 0, 0, 0),
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}

.div6 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(42, 74, 65, 0),
    rgba(17, 47, 38, 0.69),
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
}
