@font-face {
  font-family: codePredators;
  src: url(../../../assets/fonts/CodePredators-Regular.ttf);
}

@font-face {
  font-family: PatrickHandSC;
  src: url(../../../assets/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(../../../assets/fonts/Quantico-Regular.ttf);
}

.guideline {
  display: none;
}

.guidelineMobile {
  position: relative;
}

.guidelineBackgroundMobile {
  top: 0px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.guidelineTextsMobile {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
}

.guidelineTopicMobile {
  width: 100%;
  flex-shrink: 0;
}

#guidelineTopicMobile {
  color: #f2b924;
  text-align: center;
  font-family: "CodePredators";
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  font-size: 40px;
  margin-top: 20px;
  height: 20%;
}

#guidelineContentMobile {
  width: 80%;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.guidelineContentMobile {
  color: #fff;
  text-align: justify;
  font-family: "PatrickHandSC";
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
}

#guidelineBookletMobile {
  width: 100%;
  position: "relative";
  display: flex;
  align-items: center;
  justify-content: center;
}

.guidelineBookletdivMobile {
  width: 70%;
  height: 30%;
  border-radius: 50px;
  border: 1px solid #8c7548;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(43, 245, 100, 0.2) 45%,
      rgba(251, 250, 242, 0) 100%
    ),
    linear-gradient(180deg, #f2b924 99.99%, rgba(240, 198, 49, 0) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 20px 20px;
}

.guidelineBookletTextMobile {
  color: "#09320A";
  font-family: "Quantico";
  font-weight: "400";
  word-wrap: "break-word";
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-size: 13px;
}

@media screen and (min-width: 475px) {
  .guidelineMobile {
    display: none;
  }

  .guideline {
    position: relative;
    height: auto;
    width: 100%;
    display: block;
  }

  .backgroundImg {
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .guidelinePicture > img {
    position: absolute;
    width: 40%;
    height: 100%;
    top: -5px;
    left: 0px;
  }

  .guidelineTexts {
    position: absolute;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
  }

  .guidelineTopic {
    width: 100%;
    flex-shrink: 0;
    height: auto;
  }

  #guidelineTopic {
    color: #f2b924;
    text-align: center;
    font-family: "CodePredators";
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    font-size: 30px;
  }

  #guidelineContent {
    width: 80%;
    flex-shrink: 0;
    margin-top: 10px;
  }

  .guidelineContent {
    color: #fff;
    text-align: justify;
    font-family: "PatrickHandSC";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 14px;
  }

  #guidelineBooklet {
    width: 100%;
    position: "relative";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }

  .guidelineBookletdiv {
    width: 50%;
    height: 20%;
    border-radius: 50px;
    border: 1px solid #8c7548;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(43, 245, 100, 0.2) 45%,
        rgba(251, 250, 242, 0) 100%
      ),
      linear-gradient(180deg, #f2b924 99.99%, rgba(240, 198, 49, 0) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: 10px;
  }

  .guidelineBookletText {
    color: "#09320A";
    font-family: "Quantico";
    font-weight: "400";
    word-wrap: "break-word";
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 8px;
  }

  .cloud {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    object-fit: cover;
  }
}

@media screen and (min-width: 600px) {
  #guidelineTopic {
    font-size: 35px;
  }

  #guidelineContent {
    width: 80%;
    flex-shrink: 0;
    margin-top: 20px;
  }

  .guidelineContent {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
  }

  .guidelineBookletdiv {
    padding: 10px;
    margin-bottom: 10px;
  }

  .guidelineBookletText {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 10px;
  }

  .cloud {
    margin-left: 10px;
    width: 17px;
    height: 17px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  #guidelineTopic {
    margin-top: 10px;
    font-size: 40px;
  }

  #guidelineContent {
    width: 80%;
    flex-shrink: 0;
    margin-top: 35px;
  }

  .guidelineContent {
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 25px;
  }

  .guidelineBookletdiv {
    padding: 13px;
    margin-bottom: 10px;
  }

  .guidelineBookletText {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 12px;
  }

  .cloud {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}

@media screen and (min-width: 992px) {
  #guidelineTopic {
    margin-top: 15px;
    font-size: 55px;
  }

  #guidelineContent {
    width: 80%;
    flex-shrink: 0;
    margin-top: 50px;
  }

  .guidelineContent {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 33px;
  }

  .guidelineBookletdiv {
    padding: 20px;
    margin-bottom: 5px;
  }

  .guidelineBookletText {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
  }

  .cloud {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  #guidelineTopic {
    margin-top: 35px;
    font-size: 70px;
  }

  #guidelineContent {
    width: 80%;
    flex-shrink: 0;
    margin-top: 60px;
  }

  .guidelineContent {
    margin-bottom: 35px;
    font-size: 35px;
    line-height: 35px;
  }

  .guidelineBookletdiv {
    padding: 25px;
    margin-bottom: 10px;
  }

  .guidelineBookletText {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
  }

  .cloud {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1400px) {
  #guidelineTopic {
    margin-top: 35px;
    font-size: 70px;
  }

  #guidelineContent {
    width: 80%;
    flex-shrink: 0;
    margin-top: 70px;
  }

  .guidelineContent {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 37px;
  }

  .guidelineBookletdiv {
    padding: 25px;
    margin-bottom: 10px;
  }

  .guidelineBookletText {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
  }

  .cloud {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1530px) {
  #guidelineTopic {
    margin-top: 35px;
    font-size: 76px;
  }

  #guidelineContent {
    width: 80%;
    flex-shrink: 0;
    margin-top: 70px;
  }

  .guidelineContent {
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 40px;
  }

  .guidelineBookletdiv {
    padding: 25px;
    margin-bottom: 10px;
  }

  .guidelineBookletText {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
  }

  .cloud {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}
