@font-face {
  font-family: codePredators;
  src: url(../../../assets/fonts/CodePredators-Regular.ttf);
}

@font-face {
  font-family: PatrickHandSC;
  src: url(../../../assets/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(../../../assets/fonts/Quantico-Regular.ttf);
}

.about-sec {
  position: relative;
}

.about-bg-img {
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.title-text {
  margin: 0;
  font-family: codePredators;
  font-size: 66px;
  color: #f2b924;
  margin-bottom: 0.8em;
}

.description p {
  font-family: PatrickHandSC;
  font-size: 22px;
  color: #ffffff;
}

.description li {
  font-family: PatrickHandSC;
  font-size: 22px;
  color: #ffffff;
}

.content {
  /* position: absolute;
  top: calc(100vh + 50%);
  transform: translate(0, 50%);
  bottom: 0;
  width: 40%; */
  position: absolute;
  top: 30px;
  left: 10%;
  width: 40%;
  text-align: justify;
  z-index: 2;
}

.floating-img {
  position: absolute;
  right: 0;
  top: calc(- 100vh);
}

.img-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
}
