@font-face {
  font-family: codePredators;
  src: url(../../../assets/fonts/CodePredators-Regular.ttf);
}

@font-face {
  font-family: PatrickHandSC;
  src: url(../../../assets/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(../../../assets/fonts/Quantico-Regular.ttf);
}

.about-bg-img-8-plus {
  display: none;
}

.about-bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.title-text {
  margin: 0;
  font-family: codePredators;
  font-size: 66px;
  color: #f2b924;
  margin-bottom: 0.8em;
}

.description p {
  font-family: PatrickHandSC;
  font-size: 22px;
  color: #ffffff;
  padding-bottom: 24px;
  padding-bottom: 24px;
}

.description li {
  font-family: PatrickHandSC;
  font-size: 22px;
  color: #ffffff;
}

.content {
  /* position: absolute;
  top: calc(100vh + 50%);
  transform: translate(0, 50%);
  bottom: 0;
  width: 40%; */
  position: absolute;
  top: calc(50%);
  top: calc(50%);
  left: 10%;
  transform: translate(0%, -50%);
  width: 40%;
  text-align: justify;
}

.floating-img {
  position: absolute;
  right: 0;
  bottom: 0;
  bottom: 0;
}

.img-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
}

@media screen and (max-width: 1280px) {
  .floating-img {
    z-index: -2;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 50px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 27px;
    word-break: break-word;
  }
  .description li {
    font-size: 27px;
    padding-bottom: 24px;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}

@media screen and (max-width: 1210px) {
  .floating-img {
    z-index: -2;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 60px;
    padding: 36px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 26px;
    word-break: break-word;
  }
  .description li {
    font-size: 26px;
    padding-bottom: 24px;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}

@media screen and (max-width: 830px) {
  .about-bg-img {
    display: none;
  }
  .about-bg-img-8-plus {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .floating-img {
    display: none;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 70px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 736px;
    left: 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 31px;
    word-break: break-word;
  }
  .description li {
    font-size: 21px;
    padding-bottom: 24px;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}
@media screen and (max-width: 450px) {
  .about-bg-img {
    display: none;
  }
  .about-bg-img-8-plus {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .floating-img {
    display: none;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 40px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 736px;
    left: 0;
    padding: 0 24px;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 21px;
    word-break: break-word;
  }
  .description li {
    font-size: 21px;
    padding-bottom: 0;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}

@media screen and (max-width: 375px) {
  .about-bg-img {
    display: none;
  }
  .about-bg-img-8-plus {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .floating-img {
    display: none;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 32px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 736px;
    left: 0;
    padding: 0 24px;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    word-break: break-word;
  }
  .description li {
    font-size: 18px;
    padding-bottom: 0;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
  top: 0;
}

@media screen and (max-width: 1280px) {
  .floating-img {
    z-index: -2;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 50px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 27px;
    word-break: break-word;
  }
  .description li {
    font-size: 27px;
    padding-bottom: 24px;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}

@media screen and (max-width: 1210px) {
  .floating-img {
    z-index: -2;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 60px;
    padding: 36px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 26px;
    word-break: break-word;
  }
  .description li {
    font-size: 26px;
    padding-bottom: 24px;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}

@media screen and (max-width: 830px) {
  .about-bg-img {
    display: none;
  }
  .about-bg-img-8-plus {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .floating-img {
    display: none;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 70px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 736px;
    left: 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 31px;
    word-break: break-word;
  }
  .description li {
    font-size: 21px;
    padding-bottom: 24px;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}

@media screen and (max-width: 420px) {
  .about-bg-img {
    display: none;
  }
  .about-bg-img-8-plus {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .floating-img {
    display: none;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 40px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 736px;
    left: 0;
    padding: 0 24px;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 21px;
    word-break: break-word;
  }
  .description li {
    font-size: 21px;
    padding-bottom: 0;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}

@media screen and (max-width: 375px) {
  .about-bg-img {
    display: none;
  }
  .about-bg-img-8-plus {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .floating-img {
    display: none;
  }
  .title-text {
    text-align: center;
    margin: 0;
    font-size: 32px;
    padding: 24px 0;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 736px;
    left: 0;
    padding: 0 24px;
  }
  .description p {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    word-break: break-word;
  }
  .description li {
    font-size: 18px;
    padding-bottom: 0;
  }
  .description {
    width: 100%;
    /* max-width: 300px; */
  }
  .about {
    width: 100vw;
  }
}
